header {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  max-height: 200px;
}


h1 {
  max-height: 50px;
  margin: 10px;
  margin-bottom: 0px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
